-r requirements.txt

mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-htmlproofer-plugin
mkdocs-minify-plugin
mkdocs-autolinks-plugin
mkdocs-material
mkdocs-section-index
mkdocstrings
markdown-include

# Required for TypedDict
mypy
